.chat-container {
  display: flex;
  flex-direction: column;
  
z-index: 1;
  width: 450px;
  /* height: 296%; */
  border-right: 1px solid rgba(22, 172, 159, 0.5);
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  color: #ffffff;    display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
}

.chat-messages {
  flex-grow: 1;
  /* overflow-y: auto; */
  width: -webkit-fill-available;

  overflow: auto;
  padding: 10px;
}
input::placeholder {
    color: #075e54; /* Set the desired placeholder color */
  }

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

}

.chat-message.received {
    flex-direction: row;
    display: flex;
    justify-content: flex-start
  }
  
  .chat-message.sent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
  .chat-message {

    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
  
  .message-time {
    font-size: 12px;
    color: #cccc;
  }

.sender {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #ffffff;
  font-weight: bold;
}

.profile-picture-chet{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.message-text {
  color: #ffffff;
  margin-top: 13px;
 


}
.message-content{
    border: 1px solid rgba(22, 172, 159, 0.5);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 9px;

display: flex;
flex-direction: column;

align-items: flex-end


}
.chat-input {
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: -webkit-fill-available;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #278181;
  font-size: 14px;
  outline: none;
}

.chat-input .send-button {
    margin-left: 5px;
  background-color: #ffffff;
  color: #278181;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input .send-button:hover {
  background-color: #075e54;
  color: #ffffff;
}
